<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul style="list-style: none;">
            <!-- 태그 하나로 for 를 감쌀 수 없는 경우, template 사용 -->
            <!-- <template v-for="item in items">
            <li>
                {{ item.id }}
            <li>
                <img :src="item.image" alt="">
            </li>   
            <li> 
                {{ item.title }}
            </li>
            </template> -->
            <li v-for="item in items">
                {{ item.id }}
                <br />
                <img :src="item.image" :alt="item.title">
                <!-- vue는 태그에 변수값을 대입시키려면 어트리뷰트 앞에 콜론 입력 -->
                <br />
                {{ item.title }}
            </li>
        </ul>
    </div>    
</body>
<script>
    let app = new Vue({ //인스턴스를 변수에 담으면 인스턴스 내부에 접근 가능
        el: '#app',
        data: {
            items: [
                {
                    id: 1,
                    image: 'https://picsum.photos/210/118/?image=1',
                    title: '컴퓨터'
                },
                {
                    id: 2,
                    image: 'https://picsum.photos/210/118/?image=100',
                    title: '해변'
                },
                {
                    id: 3,
                    image: 'https://picsum.photos/210/118/?image=160',
                    title: '휴대폰'
                },
                {
                    id: 4,
                    image: 'https://picsum.photos/210/118/?image=200',
                    title: '황소'
                }
            ]
        }
    })
</script>
</html>